.game-name {
  position: relative;
  text-align: center;
  margin: 50px auto;
  font-size: x-large;
  font-weight: bolder;
  color: #920075;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.game-area {
  position: relative;
  margin: 50px auto;
  width: 600px;
  height: 600px;
  border: 3px solid #920075;
  background: rgb(84, 19, 136);
  background: linear-gradient(
    30deg,
    rgba(84, 19, 136, 1) 0%,
    rgba(84, 13, 110, 1) 50%,
    rgba(121, 30, 148, 1) 100%
  );
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #d40078;
  border: 1px solid #f6019d;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #2de2e6;
  border: 1px solid #2de2a6;
  z-index: 1;
}
